extends layout

block content

  head 

    title Login
    link(rel="stylesheet" href="/login.css")
    script(src="/login.js" defer) 

  body 


    .container
      section#formHolder
      .row
        // Brand Box
        .col-sm-6.brand
          a.logo(href='#') VC <span>.</span>

          .heading
            h2 Chat
            p Conectate con el mundo!

          .success-msg
            p Great! You are one of our members now
            a.profile(href='#') Tu perfil

        // Form Box
        .col-sm-6.form

          // Login Form
          .login.form-peice.switched
            form.login-form(action='/auth/login' method='post')
              .form-group
                label(for='email') Email
                input#loginemail(type='email' name='email', required)
              .form-group
                label(for='password') Contraseña
                input#loginPassword(type='password' name='password', required)
              .CTA
                input(type='submit' value='Entrar')
                a.switch(href='#') crear cuenta

          // Signup Form
          .signup.form-peice
            form.signup-form(action='/auth/signUp' method='post' enctype="multipart/form-data")
              .form-group
                label(for='name') Nick
                input.name(type='text' name='name' id='name')
                span.error
              .form-group
                label(for='email') Email 
                input.email(type='email' name='email' id='email')
                span.error
              .form-group
                label(for='password') Contraseña
                input.pass(type='password' name='password' id='password')
                span.error
              .form-group
                label(for='confirmPassword') Confirmar contraseña
                input.passConfirm(type='password' name='confirmPassword' id='confirmPassword')
                span.error
              .form-group.file-upload
                input.imagenPerfil(type="file" name="imagenUrl" id="imagenPerfil" class="file-input" accept="image/*")  
              .CTA
                input#submit(type='submit' value='Registrarme')
                a.switch(href='#') tengo una cuenta
